In [2]:
import pandas as pd

'''
Planned Features
---------------------
Star power:     The combined number of times the 3 actors of a movie appear in the dataset
Running Time:   The duration of the movie
Budget:         The budget of the movie
Genre:          Genre of the the movie

Predicted Class
---------------------
Success Rating: Calculated as Box Office / Budget


'''

df = pd.read_csv('movies_data.csv', encoding='ISO-8859-1')
df.head(1)

,Movie,Director,Running time,Actor 1,Actor 2,Actor 3,Genre,Budget,Box Office,Actors Box Office %,Director Box Office %,Earnings,Oscar and Golden Globes nominations,Oscar and Golden Globes awards,Release year,IMDb score
0,13 Hours,Michael Bay,144,Toby Stephens,James Badge Dale,David Costabile,Action,50000000,69400000,50.0,69.23,19400000,0,0.0,2016,7.4

In [19]:
'''
Calculating Star Power
1. Create a dictionary to count how many times each actor apears in the dataset
'''

actor_freq = dict()
actor_columns = ['Actor 1', 'Actor 2', 'Actor 3']
for name in df['Actor 1']:
    if name in actor_freq:
        actor_freq[name] += 1
    else:
        actor_freq[name] = 1

df['star_power'] = df['Actor 1'].map(actor_freq) + df['Actor 2'].map(actor_freq) + df['Actor 3'].map(actor_freq)
df['star_power'] = df['star_power'].fillna(0)

i = 0
for e0, e1 in sorted(zip(df['Movie'], df['star_power']), key=lambda x: x[1], reverse=True):
    if i == 10:
        break
    print(e0, e1)
    i += 1

Marvin's Room 82.0
The Big Wedding 76.0
Joy 75.0
Silver Linings Playbook 75.0
The Expendables 2 74.0
Cop Land 74.0
The Expendables 3 72.0
Last Vegas 71.0
Batman Begins 70.0
Sleepers 70.0