In [ ]:
import pandas as pd

'''
Planned Features:

Star power: The combined number of times the 3 actors of a movie appear in the dataset
Title length: The length of the movie name
Running Time: The duration of the movie
Budget: The budget of the movie
Genre: Genre of the the movie

Class to be predicted:
Success Rating: Calculated as Box Office / Budget


'''

df = pd.read_csv('movies_data.csv', encoding='ISO-8859-1')
df.head(10)

,Movie,Director,Running time,Actor 1,Actor 2,Actor 3,Genre,Budget,Box Office,Actors Box Office %,Director Box Office %,Earnings,Oscar and Golden Globes nominations,Oscar and Golden Globes awards,Release year,IMDb score
0,13 Hours,Michael Bay,144,Toby Stephens,James Badge Dale,David Costabile,Action,50000000,69400000,50.00,69.23,19400000,0,0.0,2016,7.4
1,16 Blocks,Richard Donner,102,Bruce Willis,David Zayas,Sasha Roiz,Action,52000000,65000000,33.33,50.00,13000000,0,0.0,2006,6.6
2,17 Again,Burr Steers,102,Matthew Perry,Hunter Parrish,Thomas Lennon,Comedy,20000000,139000000,44.44,25.00,119000000,0,0.0,2009,6.4
3,1982,Tommy Oliver,90,Bokeem Woodbine,Ruby Dee,Quinton Aaron,Drama,1000000,2000000,50.00,100.00,1000000,0,0.0,2013,7.1
4,2 Fast 2 Furious,John Singleton,107,Paul Walker,Cole Hauser,Mo Gallini,Action,76000000,236000000,75.00,42.85,160000000,0,0.0,2003,5.9
5,2 Guns,Baltasar Kormákur,109,Denzel Washington,Patrick Fischler,Fred Ward,Action,61000000,132000000,66.67,100.00,71000000,0,0.0,2013,6.7
6,2012,Roland Emmerich,158,Oliver Platt,Liam James,Tom McCarthy,Action,200000000,800000000,63.88,50.00,600000000,0,0.0,2009,5.8
7,21,Robert Luketic,123,Kevin Spacey,Jim Sturgess,Josh Gad,Crime,35000000,81000000,61.00,66.67,46000000,0,0.0,2008,6.8
8,22 Jump Street,Phil Lord,112,Channing Tatum,Craig Roberts,Amber Stevens West,Action,50000000,331000000,55.55,100.00,281000000,0,0.0,2014,7.1
9,27 Dresses,Anne Fletcher,111,Judy Greer,Bern Cohen,Yetta Gottesman,Comedy,30000000,160000000,77.00,60.00,130000000,0,0.0,2008,6.1